.navContainer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color:rgb(11, 11, 44);
    color: white;
    
}


.darkmode{
    width: 40px;
    height: 38px;
    background-color: white;
}

.tag{
    display: flex;
    justify-content: center;        
}


.tag > div:hover{
    background: navy;
}

.etc{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.etc > *{
    padding: 10px 10px;
}

.link{
    text-decoration: none;
    color: white;
}

.link > div{
    padding: 10px 10px;
        
}

.link > div:hover{
    background-color: gray;
    border-radius: 8px;
}

.darkmodeIcon > svg{
    border-radius: 5px;
}


.darkmodecheck{
    background-color: white;
    color: black;
}

.shoppingBag > svg{
    width: 40px;
    height: 38px;
    background-color: white;
    border-radius: 5px;
}

input{
    background-color: gray;
    border: none;
    border-radius: 5px;
}

.lightOn{
    position: absolute;
    top: 25px;
    margin-left: 35px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}